<footer class="w-full absolute bottom-0 shadow border border-gray-200">
  <div class="flex justify-center items-center py-4">
    <span class="text-sm text-gray-500 py-1 sm:py-2">&copy; 2024 Skripsi Aris Apriyanto. All rights reserved.</span>
  </div>
</footer>
