<header class="text-gray-600">
  <div class="container mx-auto flex flex-wrap justify-between flex-row items-center p-5">
    <a href="/" class="flex font-medium items-center text-gray-900 mb-4 md:mb-0">
      <div class="flex items-center">
        <div>
          <img class="w-16 h-16 text-white p-2 md:p-1" src="./../assets/images/swu.png" alt="Logo SWU" />
        </div>
        <div class="ml-2 sm:ml-3">
          <span class="block text-lg font-semibold -mb-1">STMIK WIDYA UTAMA</span>
          <span class="block text-base font-normal">Smart Winner Universe</span>
        </div>
      </div>
    </a>

    <a href="/logout" class="inline-flex items-center bg-gray-100 border-0 py-2 md:py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-sm sm:text-base mb-3 md:mb-0">
      <span class="hidden sm:block">Logout</span>
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
</header>
